// FONTS


// COLORS
$dark-blue: #003459;
$blue: #0078CD;
$navy-blue: #00528C;
$very-dark-blue: #002A48;
$yellow: #F7DBA7;
$light-yellow: #FCEED5;
$sunny-yellow: #F1D092;
$dark-yellow: #EEC77E;
$black: #00171F;
$dark: #242B33;
$very-dark-gray: #667479;
$dark-gray: #99A2A5;
$gray: #CCD1D2;
$light-gray: #EBEEEF;
$white: #FDFDFD;
$pink-red: #FF564F;
$green-light: #34C759;
$orange-shine: #FF912C;
$blue-sea: #00A7E7;