<div class="section">
    <div class="text-wrapper">
        <span class="section__txt">{{'additionalText.home' | translate}}</span>
        <img class="section__icon" src="../../../assets/img/icon-arrow.png" alt="">
        <span class="section__txt">{{'additionalText.dog' | translate}}</span>
        <img class="section__icon" src="../../../assets/img/icon-arrow.png" alt="">
        <span class="section__txt">{{'additionalText.smallDog' | translate}}</span>
    </div>
    <app-banner [className]="'light'" [title]="'bannerBlue.title'" [subtitle]="'bannerBlue.subTitle'"
        [text]="'bannerBlue.text'"></app-banner>
</div>
<div class="section-pets">
    <div class="section-pets__filters col-3">
        <div class="section-pets__filters__title">{{'filters.title' | translate}}</div>
        <div class="section-pets__filters__category">
            <span class="section-pets__filters__category__title">{{'filters.gender' | translate}}</span>
            <label *ngFor="let gender of listOfGenders" class="section-pets__filters__category__option">
                <input (change)="updateFilters(gender, filtersOfGender)" class="checkbox" type="checkbox"
                    name="checkbox">{{'filters.'+gender |
                translate}}
            </label>
        </div>
        <div class="section-pets__filters__category">
            <span class="section-pets__filters__category__title">{{'filters.color' | translate}}</span>
            <div class="category-box">
                <label *ngFor="let color of listOfColors" class="section-pets__filters__category__option">
                    <input (change)="updateFilters(color,filtersOfColor)" class="checkbox" type="checkbox"
                        name="checkbox">
                    <span [ngClass]="color" class="section-pets__filters__category__color red"></span>
                    {{('filters.'+color) | translate}}
                </label>
            </div>
        </div>
        <div class="section-pets__filters__category">
            ///
            <app-range-input (onRangeChange)="getRangeValue($event)"></app-range-input>
            ///
        </div>
        <div class="section-pets__filters__category">
            <span class="section-pets__filters__category__title">{{'filters.breed' | translate}}</span>
            <label *ngFor="let breed of listOfBreeds" class="section-pets__filters__category__option">
                <input (change)="updateFilters(breed,filtersOfBreed)" class="checkbox" type="checkbox"
                    name="checkbox">{{('filters.'+breed) | translate}}
            </label>
        </div>
        <button class="btn-dark" (click)="filter()">{{'buttons.filter' | translate}}</button>
    </div>
    <div class="box col-9">
        <span class="section-pets__txt">{{ 'sectionWithSmallPets.title' | translate}}</span>
        <span class="section-pets__txt--small">{{listOfPets.length +' '+ ('sectionWithSmallPets.text' |
            translate)}}</span>
        <div class="pets-wrapper">
            <div
                *ngFor="let pet of listOfPets | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize">
                <app-pet-card [pet]="pet"></app-pet-card>
            </div>
        </div>

        <ngb-pagination [pageSize]="pageSize" [collectionSize]="listOfPets.length" [(page)]="pageNumber"
            aria-label="Default pagination"></ngb-pagination>


        <div class="section-pets__pagination">
            <img class="section-pets__pagination__icon" src="../../../assets/img/arrow-left.png">
            <a class="section-pets__pagination__page-number"></a>
            <a class="section-pets__pagination__page-number--checked" href="">1</a>
            <a class="section-pets__pagination__page-number" href="">2</a>
            <a class="section-pets__pagination__page-number" href="">3</a>
            <a class="section-pets__pagination__page-number" href="">4</a>
            <a class="section-pets__pagination__page-number" href="">...</a>
            <a class="section-pets__pagination__page-number" href="">28</a>
            <img class="section-pets__pagination__icon" src="../../../assets/img/arrow-right.png">
        </div>
    </div>
</div>