@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;
@use "../../../styles/functions.scss" as f;

.section {
    background-color: v.$white;
    padding: 0 f.calculateRem(16px);

    @include m.lg {
        padding: 0 f.calculateRem(75px);
    }

    @include m.xl {
        padding: 0 f.calculateRem(138px);
    }

    &__txt {
        @include m.text-thin;
        margin: 0;
    }

    &__icon {
        width: f.calculateRem(24px);
        height: f.calculateRem(24px);
    }

    .text-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-bottom: f.calculateRem(11px);
    }
}

.section-pets {
    background-color: v.$white;
    //display: flex;
    padding: f.calculateRem(35px) f.calculateRem(16px) 0;

    @include m.md {
        display: flex;
    }

    @include m.lg {
        padding: f.calculateRem(35px) f.calculateRem(75px) 0;
    }

    @include m.xl {
        padding: f.calculateRem(35px) f.calculateRem(138px) 0;
    }

    &__filters {
        display: none;

        @include m.md {
            display: block;
            &__title {
                @include m.text-subtitle;
            }

            &__category {
                display: flex;
                flex-direction: column;
                border-bottom: f.calculateRem(1px) solid v.$gray;
                padding-bottom: f.calculateRem(10px);

                &__title {
                    @include m.text-title-category;
                    margin-bottom: f.calculateRem(10px);
                    margin-top: f.calculateRem(14px);
                }

                &__color {
                    width: f.calculateRem(15px);
                    height: f.calculateRem(15px);
                    border-radius: f.calculateRem(10px);
                    display: inline-block;

                    &.red {
                        background: v.$red;
                    }

                    &.apricot {
                        background: v.$apricot;
                    }

                    &.black {
                        background: v.$very-black;
                    }

                    &.blackwhite {
                        background: v.$black-white;
                    }

                    &.silver {
                        background: v.$silver;
                    }

                    &.tan {
                        background: v.$tan;
                    }
                }

                &__option {
                    @include m.text-thin;
                    color: v.$black;
                    margin-bottom: f.calculateRem(8px);

                    .checkbox {
                        width: f.calculateRem(16px);
                        height: f.calculateRem(16px);
                        background: v.$light;
                        border: f.calculateRem(1px) solid v.$gray;
                        border-radius: f.calculateRem(4px);
                        margin-right: f.calculateRem(5px);
                    }
                }

                &__options {
                    display: flex;
                    gap: f.calculateRem(20px);

                    &__input {
                        @include m.text-thin;
                        width: 40%;
                        outline: 0;
                        border-width: 0 0 f.calculateRem(1px);
                        border-color: v.$gray;
                        background: transparent;

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }
                }

                &.margins {
                    margin-bottom: f.calculateRem(10px);
                    margin-top: f.calculateRem(14px);
                }
            }
        }
    }

    &__txt {
        @include m.text-subtitle;
        margin-right: f.calculateRem(14px);
    }

    &__txt--small {
        @include m.text-thin;
    }

    .filter-phone {
        display: flex;
        justify-content: space-between;
        padding-bottom: 25px;

        &__btn {
            @include m.button-arrow;
        }

        &__frame {
            display: flex;
            gap: 8px; 
            cursor: pointer;

            &__icon {
                width: 24px;
                height: 24px;
            }

            &__txt {
                @include m.text-number-price;
                color: v.$very-dark-blue;
            }
        }

        @include m.md {
            display: none;
        }
    }

    .pets-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: f.calculateRem(14px);
    }

    .box {
        margin-bottom: f.calculateRem(14px);
    }

    .category-box {
        display: flex;
        flex-direction: column;
    }

    .btn-dark {
        @include m.button-dark;
        margin-top: f.calculateRem(10px);
    }

    .float {
        flex-wrap: wrap;
        display: flex;

        @include m.md {
            display: block;
            width: 100%;
        }
    }
}

ngb-pagination {
    @include m.pagination;
}
