<div class="section">
    <div class="text-wrapper">
        <span class="section__txt">Home</span>
        <img class="section__icon" src="../../../assets/img/icon-arrow.png" alt="">
        <span class="section__txt">Dog</span>
        <img class="section__icon" src="../../../assets/img/icon-arrow.png" alt="">
        <span class="section__txt">Small Dog</span>
    </div>
    <div class="banner light">
        <div class="banner__box-txt">
            <h1 class="banner__box-txt__header">{{'bannerBlue.title' | translate}}</h1>
            <h2 class="banner__box-txt__header--small">{{'bannerBlue.subTitle' | translate}}</h2>
            <span class="banner__box-txt__txt right">{{'bannerBlue.text' | translate}}</span>
            <button class="banner__box-txt__btn--dark">{{'buttons.explore' | translate}}</button>
        </div>
    </div>
</div>
<div class="section-pets">
    <div class="section-pets__filters"></div>
    <div class="box">
        <span class="section-pets__txt">Small Dog</span>
        <span class="section-pets__txt--small">52 puppies</span>
        <div class="pets-wrapper">
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
            <div class="section-pets__product-card">
                <img class="section-pets__product-card__img" src="../assets/img/poodle-yellow.png" alt="">
                <h3 class="section-pets__product-card__title">MO502 - Poodle Tiny Yellow</h3>
                <div class="section-pets__product-card__box-txt">
                    <span class="section-pets__product-card__box-txt__txt--medium">Gene:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">Female</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">-</span>
                    <span class="section-pets__product-card__box-txt__txt--medium">Age:</span>
                    <span class="section-pets__product-card__box-txt__txt--bold">02 months</span>
                </div>
                <span class="section-pets__product-card__price">3.900.000 VND</span>
            </div>
        </div>
        <div class="section-pets__pagination">
            <img class="section-pets__pagination__icon" src="../../../assets/img/arrow-left.png">
            <a class="section-pets__pagination__page-number"></a>
            <a class="section-pets__pagination__page-number--checked" href="">1</a>
            <a class="section-pets__pagination__page-number" href="">2</a>
            <a class="section-pets__pagination__page-number" href="">3</a>
            <a class="section-pets__pagination__page-number" href="">4</a>
            <a class="section-pets__pagination__page-number" href="">...</a>
            <a class="section-pets__pagination__page-number" href="">28</a>
            <img class="section-pets__pagination__icon" src="../../../assets/img/arrow-right.png">
        </div>
    </div>
</div>
