<footer class="footer">
    <div class="footer__newsletter">
        <h3 class="footer__newsletter__txt">Register now so you don't miss our programs</h3>
        <div class="footer__newsletter__form">
            <input class="footer__newsletter__form__input" type="text" placeholder="Enter your Email">
            <button class="footer__newsletter__form__btn--dark">Subscribe Now</button>
        </div>
    </div>
    <div class="footer__innerfooter">
        <div class="footer__innerfooter__links">
            <a class="footer__innerfooter__links__txt" href="">Home</a>
            <a class="footer__innerfooter__links__txt" href="">Category</a>
            <a class="footer__innerfooter__links__txt" href="">About</a>
            <a class="footer__innerfooter__links__txt" href="">Contact</a>
        </div>
        <div class="footer__innerfooter__media">
            <img class="footer__innerfooter__media__img" src="../assets/img/logo-facebook.png" alt="">
            <img class="footer__innerfooter__media__img" src="../assets/img/logo-twitter.png" alt="">
            <img class="footer__innerfooter__media__img" src="../assets/img/logo-instagram.png" alt="">
            <img class="footer__innerfooter__media__img" src="../assets/img/logo-youtube.png" alt="">
        </div>
    </div>
    <div class="footer__copy">
        <span class="footer__copy__txt">&copy; 2022 Monito. All rights reserved.</span>
        <img class="footer__copy__img" src="../assets/img/logo-monito.png" alt="">
        <div class="footer__copy__box-txt">
            <span class="footer__copy__box-txt__txt">Terms of Service</span>
            <span class="footer__copy__box-txt__txt">Privacy Policy</span>
        </div>
    </div>
</footer>