@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;
@use '../../../styles/functions.scss' as f;

.footer {
    background: v.$linear-gradient;
    border-radius: f.calculateRem(40px) 0;
    padding: f.calculateRem(80px) f.calculateRem(130px) f.calculateRem(40px);

    &__newsletter {
        background: v.$dark-blue;
        border-radius: f.calculateRem(16px);
        padding: f.calculateRem(32px);
        display: flex;
        justify-content: space-between;
        margin-bottom: f.calculateRem(40px);

        &__txt {
            @include m.text-subtitle; 
            color: v.$white;
            max-width: f.calculateRem(398px);
        }

        &__form {
            width: f.calculateRem(707px);
            background: v.$light;
            border-radius: f.calculateRem(14px);
            padding: f.calculateRem(12px);
            display: flex;
            gap: f.calculateRem(12px);

            &__input {
                @include m.input-email; 
            }

            &__btn--dark {
                @include m.button-dark; 
                border-radius: f.calculateRem(8px);
            }
        }
    }

    &__innerfooter {
        display: flex;
        justify-content: space-between;
        margin-bottom: f.calculateRem(40px);
        border-bottom: f.calculateRem(1px) solid v.$very-dark-gray;
        padding-bottom: f.calculateRem(40px);

        &__links {
            display: flex;
            gap: f.calculateRem(60px);

            &__txt {
                @include m.text-basic; 
                color: v.$black;
                text-decoration: none;
            }
        }

        &__media {
            display: flex;
            gap: f.calculateRem(40px);

            &__img {
                max-width: f.calculateRem(24px);
                cursor: pointer;
            }
        }
    }

    &__copy {
        display: flex;
        justify-content: space-between;

        &__img {
            max-width: f.calculateRem(115px);
        }

        &__txt {
            @include m.text-thin; 
        }

        &__box-txt {
            display: flex;
            gap: f.calculateRem(20px);

            &__txt {
                @include m.text-thin; 
            }
        }
    }
}
