<header class="header">
    <nav class="header__navmenu">
        <ul class="header__navmenu__list">
            <li class="header__navmenu__list__item">
                <img class="header__navmenu__list__item__logo" src="../assets/img/logo-monito.png" alt="">
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt">{{'header.home' | translate}}</a>
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" routerLink="pets">Pets</a>
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt">Pet products</a>
            </li>
        </ul>
    </nav>
</header>