<header class="header" [ngClass]="{'bg-white' : !isOrange}">
    <nav class="header__navmenu">
        <ul class="header__navmenu__list">
            <li class="header__navmenu__list__item">
                <img class="header__navmenu__list__item__logo" src="../assets/img/logo-monito.png" alt="">
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" routerLink="home">{{'header.home' | translate}}</a>
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" routerLink="pets">{{'header.pets' | translate}}</a>
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" routerLink="pet-products">{{'header.petProducts' |
                    translate}}</a>
            </li>
        </ul>
    </nav>
</header>