<div [routerLink]="['/product-preview',product.id]" class="section-products__product-card">
    <div class="section-products__product-card__img" [ngStyle]="{'background-image': ' url(' + photoUrl  + ')'}"></div>
    <h3 class="section-products__product-card__title">{{product?.name}}</h3>
    <div class="section-products__product-card__box-txt">
        <span class="section-products__product-card__box-txt__txt--medium">{{'characteristics.type' |
            translate}}</span>
        <span class="section-products__product-card__box-txt__txt--bold">{{product?.type | titlecase}}</span>
    </div>
    <span class="section-products__product-card__price">{{product?.price}}</span>
</div>