@use "../styles/variables.scss" as v;
@use "../styles/functions.scss" as f;

//
//BREAKPOINTS
//
@mixin xs {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin sm {
    @media (min-width: 578px) {
        @content;
    }
}

@mixin md {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin lg {
    @media (min-width: 992px) {
        @content;
    }
}

@mixin xl {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin text-middle {
    font-style: normal;
    font-weight: 700;
    font-size: f.calculateRem(14px);
    line-height: f.calculateRem(20px);
    color: v.$dark-blue;
    text-decoration: none;

    @include md {
        font-size: f.calculateRem(16px);
        line-height: f.calculateRem(24px);
    }
}

@mixin text-header-big {
    font-family: GilroyBold;
    font-style: normal;
    font-weight: 800;
    font-size: f.calculateRem(46px);
    line-height: f.calculateRem(68px);
    text-transform: capitalize;
    color: v.$very-dark-blue;

    @include md {
        font-size: f.calculateRem(54px);
    }

    @include lg {
        font-size: f.calculateRem(60px);
    }
}

@mixin text-header-small {
    font-style: normal;
    font-weight: 700;
    font-size: f.calculateRem(28px);
    line-height: f.calculateRem(38px);
    text-transform: capitalize;
    color: v.$very-dark-blue;

    @include md {
        font-size: f.calculateRem(40px);
        line-height: f.calculateRem(60px);
    }

    @include lg {
        font-size: f.calculateRem(46px);
        line-height: f.calculateRem(60px);
    }
}

@mixin text-header-thin {
    font-style: normal;
    font-weight: 700;
    font-size: f.calculateRem(36px);
    line-height: f.calculateRem(54px);
    text-transform: capitalize;
    color: v.$dark-blue;
}

@mixin text-header-white {
    font-family: GilroyBold;
    font-style: normal;
    font-weight: 800;
    font-size: f.calculateRem(52px);
    line-height: f.calculateRem(68px);
    text-transform: capitalize;
    color: v.$white;
}

@mixin text-basic {
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(12px);
    line-height: f.calculateRem(18px);
    color: v.$dark;

    @include md {
        font-size: f.calculateRem(16px);
        line-height: f.calculateRem(24px);
    }
}

@mixin text-subtitle {
    font-family: GilroyBold;
    font-style: normal;
    font-weight: 700;
    font-size: f.calculateRem(20px);
    line-height: f.calculateRem(32px);
    text-transform: capitalize;
    color: v.$dark-blue;

    @include md {
        font-size: f.calculateRem(24px);
        line-height: f.calculateRem(36px);
    }
}

@mixin text-small {
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(16px);
    line-height: f.calculateRem(31px);
    color: v.$neutral;
}

@mixin text-very-small {
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(12px);
    line-height: f.calculateRem(18px);
    color: v.$very-dark-gray;
}

@mixin text-number-price {
    font-style: normal;
    font-weight: 700;
    font-size: f.calculateRem(16px);
    line-height: f.calculateRem(24px);
    color: v.$black;
}

@mixin text-thin {
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(14px);
    line-height: f.calculateRem(20px);
    color: v.$very-dark-gray;
}

@mixin text-numbers {
    font-family: GilroyBold;
    font-style: normal;
    font-weight: 700;
    font-size: f.calculateRem(18px);
    line-height: f.calculateRem(24px);
    color: v.$very-dark-blue;
    text-decoration: none;
}

@mixin text-title-category {
    font-style: normal;
    font-weight: 700;
    font-size: f.calculateRem(16px);
    line-height: f.calculateRem(20px);
    color: v.$black;
}

@mixin text-small-banner {
    font-size: f.calculateRem(14px);
    font-weight: 700;
    line-height: f.calculateRem(20px);
    color: v.$very-dark-blue;
}

@mixin text-price {
    font-size: f.calculateRem(20px);
    font-weight: 700;
    line-height: f.calculateRem(32px);
    color: v.$very-dark-blue;
}

@mixin button-dark {
    padding: f.calculateRem(10px) f.calculateRem(30px) f.calculateRem(10px);
    background: v.$dark-blue;
    border-radius: f.calculateRem(57px);
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(16px);
    line-height: f.calculateRem(24px);
    color: v.$white;
}

@mixin button-light {
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(14px);
    line-height: f.calculateRem(20px);
    color: v.$dark-blue;
    padding: f.calculateRem(10px) f.calculateRem(30px) f.calculateRem(10px);
    //padding: f.calculateRem(12px) f.calculateRem(28px);
    border: f.calculateRem(1.5px) solid v.$dark-blue;
    border-radius: f.calculateRem(57px);
    background-color: transparent;
}

@mixin button-white {
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(16px);
    line-height: f.calculateRem(24px);
    color: v.$black;
    padding: f.calculateRem(10px) f.calculateRem(30px) f.calculateRem(10px);
    background: v.$white;
    border-radius: f.calculateRem(57px);
}

@mixin box-card {
    max-width: f.calculateRem(220px);
    background: v.$white;
    box-shadow: v.$shadow-white;
    border-radius: f.calculateRem(12px);
    padding: f.calculateRem(8px) f.calculateRem(8px) f.calculateRem(20px);

    @include lg {
        max-width: f.calculateRem(264px);
    }
}

@mixin input-email {
    font-style: normal;
    font-weight: 500;
    font-size: f.calculateRem(14px);
    line-height: f.calculateRem(20px);
    color: v.$dark-gray;
    background: v.$light;
    border: f.calculateRem(1px) solid v.$dark-gray;
    border-radius: f.calculateRem(8px);
    padding: f.calculateRem(14px) f.calculateRem(28px);
    width: 100%;

    @include lg {
        width: 70%;
    }
}

@mixin pagination {
    display: flex;
    padding-top: f.calculateRem(40px);
    padding-bottom: f.calculateRem(60px);

    ::ng-deep a {
        color: black;
        background-color: transparent;
        font-size: f.calculateRem(16px);
        font-weight: bold;
        border: none;
        border-color: transparent;
    }
}
