// COLORS
$dark-blue: #003459;
$blue: #0078CD;
$navy-blue: #00528C;
$very-dark-blue: #002A48;
$yellow: #F7DBA7;
$light-yellow: #FCEED5;
$sunny-yellow: #F1D092;
$dark-yellow: #EEC77E;
$black: #00171F;
$dark: #242B33;
$very-dark-gray: #667479;
$dark-gray: #99A2A5;
$gray: #CCD1D2;
$light-gray: #EBEEEF;
$white: #FDFDFD;
$neutral: #000000;
$light: #ffffff;
$pink-red: #FF564F;
$green-light: #34C759;
$orange-shine: #FF912C;
$blue-sea: #00A7E7;
$orange: #ffb775;
$red: #ff564f;
$apricot: #FFB672;
$very-black: #242B33;
$silver: #CECECE;
$tan: #FFF7CE;

//SHADOWS, GRADIENTS
$shadow-white: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
$linear-gradient: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
$black-white: linear-gradient(90deg, #242B33 0%, #242B33 52.59%, #D7D7D7 52.6%, #D2D2D2 100%);
$gradient-banner: var(--linear, linear-gradient(134deg, #fceed5 6.17%, #fceed5 75.14%, #ffe7ba 100%));
$shadow-section-welcome: -3px -27px 0px 27px rgba(252, 238, 213, 1);
