<div class="section">
    <app-banner [className]="'toys'" [title]="'bannerToys.title'" [subtitle]="'bannerToys.subTitle'"
        [text]="'bannerToys.text'"></app-banner>
</div> 
<div class="section-pets">
    <div class="section-pets__filters col-3">
        <div class="section-pets__filters__title">{{'filters.title' | translate}}</div>
        <div class="section-pets__filters__category">
            <span class="section-pets__filters__category__title">{{'characteristics.type' |
            translate}}</span>
            <label *ngFor="let type of listOfProductType" class="section-pets__filters__category__option">
                <input (change)="updateFilters(type,filtersOfProductType)" class="checkbox" type="checkbox" name="checkbox">
               {{('filters.'+type) | translate}}
            </label>
        </div>
        <div class="section-pets__filters__category">
            <span class="section-pets__filters__category__title">{{'filters.price' | translate}}</span>
            <div class="section-pets__filters__category__options">
                <input class="section-pets__filters__category__options__input" type="number" placeholder="Min">
                <input class="section-pets__filters__category__options__input" type="number" placeholder="Max">
            </div>
        </div>
        <button class="btn-dark" (click)="filter()">{{'buttons.filter' | translate}}</button>
    </div>
    <div class="box col-9">
        <span class="section-pets__txt">{{'sectionWithPetProducts.title' | translate}}</span>
        <span class="section-pets__txt--small">{{'sectionWithPetProducts.text' | translate}}</span>
        <div class="pets-wrapper">
            <div *ngFor="let product of listOfProducts">
                <app-product-card [product]="product"></app-product-card>
            </div>
        </div>
        <div class="section-pets__pagination">
            <img class="section-pets__pagination__icon" src="../../../assets/img/arrow-left.png">
            <a class="section-pets__pagination__page-number"></a>
            <a class="section-pets__pagination__page-number--checked" href="">1</a>
            <a class="section-pets__pagination__page-number" href="">2</a>
            <a class="section-pets__pagination__page-number" href="">3</a>
            <a class="section-pets__pagination__page-number" href="">4</a>
            <a class="section-pets__pagination__page-number" href="">...</a>
            <a class="section-pets__pagination__page-number" href="">20</a>
            <img class="section-pets__pagination__icon" src="../../../assets/img/arrow-right.png">
        </div>
    </div>
</div>
