<div class="section">
    <app-banner [className]="'toys'" [title]="'bannerToys.title'" [subtitle]="'bannerToys.subTitle'"
        [text]="'bannerToys.text'"></app-banner>
</div> 
<div class="section-pets">
    <div class="filter-phone">
        <div class="filter-phone__btn">Sort by: Popular</div>
        <div class="filter-phone__frame">
            <img class="filter-phone__frame__icon" src="../../../assets/img/hourglass.png">
            <span class="filter-phone__frame__txt">Filter</span>
        </div>
    </div>
    <div class="section-pets__filters col-3">
        <div class="section-pets__filters__title">{{'filters.title' | translate}}</div>
        <div class="section-pets__filters__category">
            <span class="section-pets__filters__category__title">{{'characteristics.type' |
            translate}}</span>
            <label *ngFor="let type of listOfProductType" class="section-pets__filters__category__option">
                <input (change)="updateFilters(type,filtersOfProductType)" class="checkbox" type="checkbox" name="checkbox">
               {{('filters.'+type) | translate}}
            </label>
        </div>
        <div class="section-pets__filters__category margins">
            <app-range-input (onRangeChange)="getRangeValue($event)"></app-range-input>
        </div>
        <button class="btn-dark" (click)="filter()">{{'buttons.filter' | translate}}</button>
    </div>
    <div class="box col-9">
        <span class="section-pets__txt">{{'sectionWithPetProducts.title' | translate}}</span>
        <span class="section-pets__txt--small">{{listOfProducts.length +' '+('sectionWithPetProducts.text' | translate)}}</span>
        <div class="pets-wrapper">
            <div class="float">
            <div *ngFor="let product of listOfProducts | slice: (pageNumber-1) * pageSize : (pageNumber-1) * pageSize + pageSize">
                <app-product-card [product]="product"></app-product-card>
            </div></div>
        </div>
        <ngb-pagination [pageSize]="pageSize" [collectionSize]="listOfProducts.length" [(page)]="pageNumber"></ngb-pagination>
    </div>
</div>
