<div class="section">
    <div class="section__pet-container">
        <div class="box-preview-img">
            <div class="section__pet-container__main-img"></div>
            <div class="box-small-img">
                <img class="section__pet-container__small-img" src="../../../assets/img/dog/1/preview/2.png">
                <img class="section__pet-container__small-img" src="../../../assets/img/dog/1/preview/3.png">
            </div>
            <div class="section__pet-container__banner">
                <div class="banner-box">
                    <img class="section__pet-container__banner__icon" src="../../../assets/img/icon-heart.png">
                    <span class="section__pet-container__banner__info">100% health guarantee for pets</span>
                </div>
                <div class="banner-box">
                    <img class="section__pet-container__banner__icon" src="../../../assets/img/icon-pets.png">
                    <span class="section__pet-container__banner__info">100% guarantee of pet identification</span>
                </div>
            </div>
        </div>
        <div class="box-about-pet">
            <div class="text-wrapper">
                <span class="section__pet-container__txt">Home</span>
                <img class="section__pet-container__icon" src="../../../assets/img/icon-arrow.png">
                <span class="section__pet-container__txt">Dog</span>
                <img class="section__pet-container__icon" src="../../../assets/img/icon-arrow.png">
                <span class="section__pet-container__txt">Large Dog</span>
                <img class="section__pet-container__icon" src="../../../assets/img/icon-arrow.png">
                <span class="section__pet-container__txt">Shiba Inu Sepia</span>
            </div>
            <span class="section__pet-container__caption">SKU #1000078</span>
            <h2 class="section__pet-container__title">Shiba Inu Sepia</h2>
            <h3 class="section__pet-container__price">34.000.000 VND</h3>
            <div class="section__pet-container__features">
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Gender</span>
                    <span class="section__pet-container__features__txt--value">Female</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Age</span>
                    <span class="section__pet-container__features__txt--value">2 Months</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Size</span>
                    <span class="section__pet-container__features__txt--value">Small</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Color</span>
                    <span class="section__pet-container__features__txt--value">Apricot</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Vaccinated</span>
                    <span class="section__pet-container__features__txt--value">Yes</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Dewormed</span>
                    <span class="section__pet-container__features__txt--value">Yes</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Cert</span>
                    <span class="section__pet-container__features__txt--value">Yes</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Microchip</span>
                    <span class="section__pet-container__features__txt--value">Yes</span>
                </div>
                <div class="wrapper">
                    <span class="section__pet-container__features__txt">Location</span>
                    <span class="section__pet-container__features__txt--value">Londyn</span>
                </div>
            </div>
        </div>
    </div>
    <div class="section__pet-customers">
        <h2 class="section__pet-customers__title">Our lovely customer</h2>
        <div class="img-box">
            <div class="section__pet-customers__img" [ngStyle]="{'background-image': 'url(../../../assets/img/dog/1/customer/1.png)'}"></div>
            <div class="section__pet-customers__img" [ngStyle]="{'background-image': 'url(../../../assets/img/dog/1/customer/2.png)'}"></div>
            <div class="section__pet-customers__img" [ngStyle]="{'background-image': 'url(../../../assets/img/dog/1/customer/3.png)'}"></div>
            <div class="section__pet-customers__img" [ngStyle]="{'background-image': 'url(../../../assets/img/dog/1/customer/4.png)'}"></div>
            <div class="section__pet-customers__img" [ngStyle]="{'background-image': 'url(../../../assets/img/dog/1/customer/5.png)'}"></div>
        </div>
    </div>
    <div class="section__wrapper">
        <div class="box">
            <span class="section__wrapper__txt--small">{{'sectionWithPets.question' | translate}}</span>
            <span class="section__wrapper__txt">See more puppies</span>
        </div>
    </div>
    <div class="section__pets-wrapper">
        <app-pet-card></app-pet-card>
        <app-pet-card></app-pet-card>
        <app-pet-card></app-pet-card>
        <app-pet-card></app-pet-card>
    </div>
</div>
