<header class="header">
    <nav class="header__navmenu">
        <ul class="header__navmenu__list">
            <li class="header__navmenu__list__item">
                <img class="header__navmenu__list__item__logo" src="../assets/img/logo-monito.png" alt="">
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" href="">Home</a>
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" href="">Category</a>
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" href="">About</a>
            </li>
            <li class="header__navmenu__list__item">
                <a class="header__navmenu__list__item__txt" href="">Contact</a>
            </li>
        </ul>
    </nav>
</header>
<div class="section-welcome">
    <div class="section-welcome__box-txt col-5">
        <h1 class="section-welcome__box-txt__header">One more friend</h1>
        <h2 class="section-welcome__box-txt__header--small">Thousands more fun!</h2>
        <span class="section-welcome__box-txt__txt">Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!</span>
        <button class="section-welcome__box-txt__btn--dark">Explore Now</button>
    </div>
    <div class="section-welcome__box-img col-7">
        <img class="section-welcome__box-img__img" src="../assets/img/woman-dog.png" alt="">
    </div>
</div>
<div class="section">
    <span class="section__txt--small">Whats new?</span>
    <div class="section__wrapper">
        <span class="section__wrapper__txt">Take a look at some of our pets</span>
        <button class="section__wrapper__btn--light">View more</button>
    </div>
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>   
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>    
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>    
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>    
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>    
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>    
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>    
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>    
    <div class="section__product-card col-3">
        <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
        <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
        <div class="section__product-card__box-txt">
            <span class="section__product-card__box-txt__txt--medium">Gene:</span>
            <span class="section__product-card__box-txt__txt--bold">Male</span>
            <span class="section__product-card__box-txt__txt--bold">-</span>
            <span class="section__product-card__box-txt__txt--medium">Age:</span>
            <span class="section__product-card__box-txt__txt--bold">02 months</span>
        </div>
        <span class="section__product-card__price">6.900.000 VND</span>
    </div>     
</div>
<router-outlet></router-outlet>
