.header {
    background-color: #fceed5;
    padding: 28px 138px 16px;
    &__navmenu {
        display: flex;
        justify-content: center;
        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            list-style-type: none;

            &__item {
                &__logo {
                    width: 115px;
                    height: 40px;
                }

                &__txt {
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    color: #003459;
                    text-decoration: none;
                }
            }
        }
    }
}

.section-welcome {
    background-color: #fceed5;
    padding: 0 138px;
    display: flex;

    &__box-txt {
        display: flex;
        flex-direction: column;

        &__header {
            font-family: GilroyBold;
            font-style: normal;
            font-weight: 800;
            font-size: 60px;
            line-height: 68px;
            text-transform: capitalize;
            color: #002a48;
            margin-bottom: 4px;
        }

        &__header--small {
            font-style: normal;
            font-weight: 700;
            font-size: 46px;
            line-height: 60px;
            text-transform: capitalize;
            color: #002a48;
            margin-bottom: 24px;
        }

        &__txt {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #242b33;
            margin-bottom: 32px;
        }

        &__btn--dark {
            padding: 14px 28px 10px;
            background: #003459;
            border-radius: 57px;
            border: none;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #fdfdfd;
            max-width: 163px;
        }
    }

    &__box-img {
        &__img {
            width: 100%;
        }
    }
}

.section {
    background-color: #fdfdfd;
    padding: 0 138px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 28px;
        padding-top: 60px;

        &__txt--small {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #000000;
        }

        &__txt {
            font-family: "SVN-Gilroy";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-transform: capitalize;
            color: #003459;
        }

        &__btn--light {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #003459;
            padding: 12px 28px;
            border: 1.5px solid #003459;
            border-radius: 57px;
            background-color: transparent;
        }
    }

    &__product-card {
        max-width: 264px;

        &__img {
            max-width: 100%;
            margin-bottom: 16px;
        }

        &__title {
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            color: #00171f;
            margin-bottom: 4px;
        }

        &__box-txt {
            display: flex;
            gap: 4px;

            &__txt--medium {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                color: #667479;
            }

            &__txt--bold {
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 18px;
                color: #667479;
            }
        }

        &__price {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            display: flex;
            align-items: flex-end;
            color: #00171f;
            margin-top: 4px;
        }
    }

    .box {
        display: flex;
        flex-direction: column;
    }

    .products-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 36px;
        padding-bottom: 60px;
    }

    .banner {
        display: flex;
        border-radius: 20px;

        &.blue {
            background: #003459;
        }

        &.orange {
            background: #ffb775;
        }

        &__img {
            max-width: 50%;
        }

        &__box-txt {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 14px 28px 10px;

            &.rectangle-left {
                background: url("../assets/img/yellow-rectangle.png");
                justify-content: end;
                align-items: end;
            }

            &.rectangle-right {
                background: url("../assets/img/yellow-rectangle2.png");
                justify-content: center;
                align-items: start;
            }

            &__header {
                font-family: GilroyBold;
                font-style: normal;
                font-weight: 800;
                font-size: 52px;
                line-height: 68px;
                text-transform: capitalize;
                color: #003459;
                margin-bottom: 2px;
            }

            &__header--small {
                font-style: normal;
                font-weight: 700;
                font-size: 36px;
                line-height: 54px;
                text-transform: capitalize;
                color: #003459;
                margin-bottom: 8px;
            }

            &__txt {
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 18px;
                text-align: right;
                color: #242b33;
                margin-bottom: 24px;
            }

            &__btn--dark {
                padding: 14px 28px 10px;
                background: #003459;
                border-radius: 57px;
                border: none;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #fdfdfd;
            }
        }
    }

    &__sellers-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &__txt--small {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 31px;
            color: #000000;
        }

        &__txt--big {
            font-family: GilroyBold;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-transform: capitalize;
            color: #003459;
        }
    }

    &__sellers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;

        &__img {
            max-width: 151px;
        }
    }

    &.sellers {
        padding: 45px 138px 39px;
    }
}

.footer {
    background: linear-gradient(102.87deg, #fceed5 6.43%, #fceed5 78.33%, #ffe7ba 104.24%);
    border-radius: 40px 40px 0px 0px;
    padding: 80px 130px 40px;

    &__newsletter {
        background: #003459;
        border-radius: 16px;
        padding: 32px;
        display: flex;
        margin-bottom: 40px;

        &__txt {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 36px;
            text-transform: capitalize;
            color: #fdfdfd;
            max-width: 389px;
        }

        &__form {
            width: 707px;
            background: #ffffff;
            border-radius: 14px;
            padding: 12px;
            display: flex;
            gap: 12px;

            &__input {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #99a2a5;
                background: #ffffff;
                border: 1px solid #99a2a5;
                border-radius: 8px;
                padding: 14px 28px;
                width: 70%;
            }

            &__btn--dark {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #fdfdfd;
                padding: 14px 28px 10px;
                background: #003459;
                border-radius: 8px;
                border: none;
            }
        }
    }

    &__innerfooter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        border-bottom: 1px solid #667479;
        padding-bottom: 40px; 

        &__links {
            display: flex;
            gap: 60px;

            &__txt {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: #00171f;
                text-decoration: none;
            }
        }

        &__media {
            display: flex;
            gap: 40px;

            &__img {
                max-width: 24px;
            }
        }
    }

    &__copy {
        display: flex;
        justify-content: space-between;

        &__img {
            max-width: 115px;
        }

        &__txt {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #667479;
        }

        &__box-txt {
            display: flex; 
            gap: 20px;

            &__txt {
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #667479;
            }
        }
    }
}
