@use "../styles/mixins.scss" as m;
@use "../styles/variables.scss" as v;

.header {
    background-color: v.$light-yellow;
    padding: 28px 138px 16px;

    &__navmenu {
        display: flex;
        justify-content: center;

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: 48px;
            list-style-type: none;

            &__item {

                &__logo {
                    width: 115px;
                    height: 40px;
                }

                &__txt {
                    @include m.text-middle;
                }
            }
        }
    }
}

.section-welcome {
    background-color: v.$light-yellow;
    padding: 0 138px;
    display: flex;

    &__box-txt {
        display: flex;
        flex-direction: column;

        &__header {
            @include m.text-header-big;
            margin-bottom: 4px;
        }

        &__header--small {
            @include m.text-header-small;
            margin-bottom: 24px;
        }

        &__txt {
            @include m.text-basic;
            margin-bottom: 32px;
        }

        &__btn--dark {
            @include m.button-dark;
            max-width: 163px;
        }
    }

    &__box-img {

        &__img {
            width: 100%;
        }
    }
}

.section {
    background-color: v.$white;
    padding: 0 138px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: 28px;
        padding-top: 60px;

        &__txt--small {
            @include m.text-basic;
            color: v.$neutral;
        }

        &__txt {
            @include m.text-subtitle;
        }

        &__btn--light {
            @include m.button-light;
        }
    }

    &__product-card {
        @include m.box-card;

        &__img {
            max-width: 100%;
            margin-bottom: 16px;
        }

        &__title {
            @include m.text-middle;
            color: v.$black;
            margin-bottom: 4px;
        }

        &__box-txt {
            display: flex;
            gap: 4px;

            &__txt--medium {
                @include m.text-very-small;
            }

            &__txt--bold {
                @include m.text-very-small;
                font-weight: 700;
            }
        }

        &__price {
            @include m.text-number-price; 
            margin-top: 4px;
        }
    }

    .box {
        display: flex;
        flex-direction: column;
    }

    .products-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 60px;
    }

    .banner {
        display: flex;
        border-radius: 20px;

        &__img {
            max-width: 50%;
            border-radius: 20px;
        }

        &__box-txt {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 14px 28px 10px;
            width: 100%;

            &__header {
                @include m.text-header-big;               
                font-size: 52px;
                color: v.$dark-blue;
                margin-bottom: 2px;
            }

            &__header--small {
                @include m.text-header-thin; 
                margin-bottom: 8px;
            }

            &__img {
                width: 42px;
                height: 38px;
            }

            &__txt {
                @include m.text-very-small; 
                color: v.$dark;
                margin-bottom: 24px;
                max-width: 394px;
            }

            &__btn--dark {
                @include m.button-dark; 
            }

            &.shape-left {
                background: url("../assets/img/yellow-rectangle.png");
                background-position: left;
                justify-content: end;
                align-items: end;
                border-radius: 20px;
            }

            &.shape-right {
                background: url("../assets/img/yellow-rectangle2.png");
                background-position: right;
                justify-content: center;
                align-items: start;
                border-radius: 20px;
            }
        }

        &.blue {
            background: v.$dark-blue;
        }

        &.orange {
            background: v.$orange;
        }

        .wrapper-icon {
            display: flex;
            align-items: center;
            gap: 16px;
        }

        .right {
            text-align: right;
        }
    }

    &__sellers-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &__txt--small {
            @include m.text-small; 
        }

        &__txt--big {
            @include m.text-subtitle; 
        }
    }

    &__sellers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;

        &__img {
            max-width: 151px;
        }
    }

    &.sellers {
        padding: 45px 138px 39px;
    }
}

.footer {
    background: v.$linear-gradient;
    border-radius: 40px 0px;
    padding: 80px 130px 40px;

    &__newsletter {
        background: v.$dark-blue;
        border-radius: 16px;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        &__txt {
            @include m.text-subtitle; 
            color: v.$white;
            max-width: 389px;
        }

        &__form {
            width: 707px;
            background: v.$light;
            border-radius: 14px;
            padding: 12px;
            display: flex;
            gap: 12px;

            &__input {
                @include m.input-email; 
            }

            &__btn--dark {
                @include m.button-dark; 
                border-radius: 8px;
            }
        }
    }

    &__innerfooter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        border-bottom: 1px solid v.$very-dark-gray;
        padding-bottom: 40px;

        &__links {
            display: flex;
            gap: 60px;

            &__txt {
                @include m.text-basic; 
                color: v.$black;
                text-decoration: none;
            }
        }

        &__media {
            display: flex;
            gap: 40px;

            &__img {
                max-width: 24px;
                cursor: pointer;
            }
        }
    }

    &__copy {
        display: flex;
        justify-content: space-between;

        &__img {
            max-width: 115px;
        }

        &__txt {
            @include m.text-thin; 
        }

        &__box-txt {
            display: flex;
            gap: 20px;

            &__txt {
                @include m.text-thin; 
            }
        }
    }
}
