@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;
@use "../../../styles/functions.scss" as f;

.wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: f.calculateRem(28px);
    padding-top: f.calculateRem(60px);

    &__txt--small {
        @include m.text-basic;
        color: v.$neutral;
    }

    &__txt {
        @include m.text-subtitle;
    }

    .box {
        display: flex;
        flex-direction: column;
    }
}

.products-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: f.calculateRem(60px);

    @include m.sm {
        gap: 20px;
    }

    @include m.md {
        justify-content: space-between;
        gap: 0;
    }

    .float {
        flex-wrap: wrap;
        display: flex;

        @include m.md {
            display: block;
            width: 100%;
        }
    }
}

.button-exist {
    @include m.button-light;
    display: none;

    @include m.md {
        display: block;
    }
}

.button-no-exist {
    display: none;
}
