@use "../../../styles/mixins.scss" as m;
@use "../../../styles/variables.scss" as v;
@use '../../../styles/functions.scss' as f;

.section-welcome {
    background-color: v.$light-yellow;
    padding: 0 f.calculateRem(138px);
    display: flex;

    &__box-txt {
        display: flex;
        flex-direction: column;

        &__header {
            @include m.text-header-big;
            margin-bottom: f.calculateRem(4px);
        }

        &__header--small {
            @include m.text-header-small;
            margin-bottom: f.calculateRem(24px);
        }

        &__txt {
            @include m.text-basic;
            margin-bottom: f.calculateRem(32px);
        }

        &__btn--dark {
            @include m.button-dark;
            max-width: f.calculateRem(163px);
        }
    }

    &__box-img {

        &__img {
            width: 100%;
        }
    }
}

.section {
    background-color: v.$white;
    padding: 0 f.calculateRem(138px) 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-bottom: f.calculateRem(28px);
        padding-top: f.calculateRem(60px);

        &__txt--small {
            @include m.text-basic;
            color: v.$neutral;
        }

        &__txt {
            @include m.text-subtitle;
        }

        &__btn--light {
            @include m.button-light;
        }
    }

    &__product-card {
        @include m.box-card;

        &__img {
            max-width: 100%;
            margin-bottom: 16px;
        }

        &__title {
            @include m.text-middle;
            color: v.$black;
            margin-bottom: f.calculateRem(4px);
        }

        &__box-txt {
            display: flex;
            gap: f.calculateRem(4px);

            &__txt--medium {
                @include m.text-very-small;
            }

            &__txt--bold {
                @include m.text-very-small;
                font-weight: 700;
            }
        }

        &__price {
            @include m.text-number-price; 
            margin-top: f.calculateRem(4px);
        }
    }

    .box {
        display: flex;
        flex-direction: column;
    }

    .products-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: f.calculateRem(60px);
    }

    .banner {
        display: flex;
        border-radius: f.calculateRem(20px);

        &__img {
            max-width: 50%;
            border-radius: f.calculateRem(20px);
        }

        &__box-txt {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: f.calculateRem(14px) f.calculateRem(28px) f.calculateRem(10px);
            width: 100%;

            &__header {
                @include m.text-header-big;               
                font-size: f.calculateRem(52px);
                color: v.$dark-blue;
                margin-bottom: f.calculateRem(2px);
            }

            &__header--small {
                @include m.text-header-thin; 
                margin-bottom: f.calculateRem(8px);
            }

            &__img {
                width: f.calculateRem(42px);
                height: f.calculateRem(38px);
            }

            &__txt {
                @include m.text-very-small; 
                color: v.$dark;
                margin-bottom: f.calculateRem(24px);
                max-width: f.calculateRem(394px);
            }

            &__btn--dark {
                @include m.button-dark; 
            }

            &.shape-left {
                background: url("../../../assets/img/yellow-rectangle.png");
                background-position: left;
                justify-content: end;
                align-items: end;
                border-radius: f.calculateRem(20px);
            }

            &.shape-right {
                background: url("../../../assets/img/yellow-rectangle2.png");
                background-position: right;
                justify-content: center;
                align-items: start;
                border-radius: f.calculateRem(20px);
            }
        }

        &.blue {
            background: v.$dark-blue;
        }

        &.orange {
            background: v.$orange;
        }

        .wrapper-icon {
            display: flex;
            align-items: center;
            gap: f.calculateRem(16px);
        }

        .right {
            text-align: right;
        }
    }

    &__sellers-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: f.calculateRem(8px);

        &__txt--small {
            @include m.text-small; 
        }

        &__txt--big {
            @include m.text-subtitle; 
        }
    }

    &__sellers {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: f.calculateRem(25px);

        &__img {
            max-width: f.calculateRem(151px);
        }
    }

    &.sellers {
        padding: f.calculateRem(45px) f.calculateRem(138px) f.calculateRem(39px);
    }
}

.footer {
    background: v.$linear-gradient;
    border-radius: f.calculateRem(40px) 0;
    padding: f.calculateRem(80px) f.calculateRem(130px) f.calculateRem(40px);

    &__newsletter {
        background: v.$dark-blue;
        border-radius: f.calculateRem(16px);
        padding: f.calculateRem(32px);
        display: flex;
        justify-content: space-between;
        margin-bottom: f.calculateRem(40px);

        &__txt {
            @include m.text-subtitle; 
            color: v.$white;
            max-width: f.calculateRem(398px);
        }

        &__form {
            width: f.calculateRem(707px);
            background: v.$light;
            border-radius: f.calculateRem(14px);
            padding: f.calculateRem(12px);
            display: flex;
            gap: f.calculateRem(12px);

            &__input {
                @include m.input-email; 
            }

            &__btn--dark {
                @include m.button-dark; 
                border-radius: f.calculateRem(8px);
            }
        }
    }

    &__innerfooter {
        display: flex;
        justify-content: space-between;
        margin-bottom: f.calculateRem(40px);
        border-bottom: f.calculateRem(1px) solid v.$very-dark-gray;
        padding-bottom: f.calculateRem(40px);

        &__links {
            display: flex;
            gap: f.calculateRem(60px);

            &__txt {
                @include m.text-basic; 
                color: v.$black;
                text-decoration: none;
            }
        }

        &__media {
            display: flex;
            gap: f.calculateRem(40px);

            &__img {
                max-width: f.calculateRem(24px);
                cursor: pointer;
            }
        }
    }

    &__copy {
        display: flex;
        justify-content: space-between;

        &__img {
            max-width: f.calculateRem(115px);
        }

        &__txt {
            @include m.text-thin; 
        }

        &__box-txt {
            display: flex;
            gap: f.calculateRem(20px);

            &__txt {
                @include m.text-thin; 
            }
        }
    }
}
