<div class="section-welcome">
    <div class="section-welcome__box-txt col-5">
        <h1 class="section-welcome__box-txt__header">{{'sectionWelcome.title' | translate}}</h1>
        <h2 class="section-welcome__box-txt__header--small">{{'sectionWelcome.subTitle' | translate}}</h2>
        <span class="section-welcome__box-txt__txt">{{'sectionWelcome.text' | translate}}</span>
        <button class="section-welcome__box-txt__btn--dark">{{'buttons.explore' | translate}}</button>
    </div>
    <div class="section-welcome__box-img col-7">
        <img class="section-welcome__box-img__img" src="../assets/img/woman-dog.png" alt="">
    </div>
</div>
<div class="section">
    <div class="section__wrapper">
        <div class="box">
            <span class="section__wrapper__txt--small">{{'sectionWithPets.question' | translate}}</span>
            <span class="section__wrapper__txt">{{'sectionWithPets.title' | translate}}</span>
        </div>
        <button class="section__wrapper__btn--light">{{'buttons.view' | translate}}</button>
    </div>
    <div class="products-wrapper">
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
    </div>
</div>
<div class="section">
    <app-banner [className]="'blue'" [title]="'bannerBlue.title'" [subtitle]="'bannerBlue.subTitle'"
        [text]="'bannerBlue.text'"></app-banner>
</div>
<div class="section">
    <div class="section__wrapper">
        <div class="box">
            <span class="section__wrapper__txt--small">{{'sectionWithProducts.question' | translate}}</span>
            <span class="section__wrapper__txt">{{'sectionWithProducts.title' | translate}}</span>
        </div>
        <button class="section__wrapper__btn--light">{{'buttons.view' | translate}}</button>
    </div>
    <div class="products-wrapper">
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
    </div>
</div>
<div class="section">
    <app-banner [className]="'orange'" [title]="'bannerOrange.title'" [subtitle]="'bannerOrange.subTitle'"
        [text]="'bannerOrange.text'" [img]="'../assets/img/icon-paw.png'"></app-banner>
</div>
<div class="section sellers">
    <div class="section__sellers-txt">
        <span class="section__sellers-txt__txt--small">{{'petSellers.text' | translate}}</span>
        <span class="section__sellers-txt__txt--big">{{'petSellers.textBold' | translate}}</span>
    </div>
    <div class="section__sellers">
        <img class="section__sellers__img" src="../assets/img/logo-sheba.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-whiskas.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-bakers.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-felix.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-goodboy.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-butchers.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-pedigree.png" alt="">
    </div>
</div>