<div class="section-welcome">
    <div class="section-welcome__box-txt col-5">
        <h1 class="section-welcome__box-txt__header">One more friend</h1>
        <h2 class="section-welcome__box-txt__header--small">Thousands more fun!</h2>
        <span class="section-welcome__box-txt__txt">Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!</span>
        <button class="section-welcome__box-txt__btn--dark">Explore Now</button>
    </div>
    <div class="section-welcome__box-img col-7">
        <img class="section-welcome__box-img__img" src="../assets/img/woman-dog.png" alt="">
    </div>
</div>
<div class="section">
    <div class="section__wrapper">
        <div class="box">
            <span class="section__wrapper__txt--small">Whats new?</span>
            <span class="section__wrapper__txt">Take a look at some of our pets</span>
        </div>
        <button class="section__wrapper__btn--light">View more</button>
    </div>
    <div class="products-wrapper">
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/pomeranian-white.png" alt="">
            <h3 class="section__product-card__title">MO231 - Pomeranian White</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Gene:</span>
                <span class="section__product-card__box-txt__txt--bold">Male</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Age:</span>
                <span class="section__product-card__box-txt__txt--bold">02 months</span>
            </div>
            <span class="section__product-card__price">6.900.000 VND</span>
        </div>
    </div>
</div>
<div class="section">
    <div class="banner blue">
        <img class="banner__img" src="../assets/img/dog-kiss.png" alt="">
        <div class="banner__box-txt shape-left">
            <h1 class="banner__box-txt__header">One more friend</h1>
            <h2 class="banner__box-txt__header--small">Thousands more fun!</h2>
            <span class="banner__box-txt__txt right">Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!</span>
            <button class="banner__box-txt__btn--dark">Explore Now</button>
        </div>
    </div>
</div>
<div class="section">
    <div class="section__wrapper">
        <div class="box">
            <span class="section__wrapper__txt--small">Hard to choose right products for your pets?</span>
            <span class="section__wrapper__txt">Our Products</span>
        </div>
        <button class="section__wrapper__btn--light">View more</button>
    </div>
    <div class="products-wrapper">
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
        <div class="section__product-card col-3">
            <img class="section__product-card__img" src="../assets/img/cat-food1.png" alt="">
            <h3 class="section__product-card__title">Reflex Plus Adult Cat Food Salmon</h3>
            <div class="section__product-card__box-txt">
                <span class="section__product-card__box-txt__txt--medium">Product:</span>
                <span class="section__product-card__box-txt__txt--bold">Dog Food</span>
                <span class="section__product-card__box-txt__txt--bold">-</span>
                <span class="section__product-card__box-txt__txt--medium">Size:</span>
                <span class="section__product-card__box-txt__txt--bold">385gm</span>
            </div>
            <span class="section__product-card__price">140.000 VND</span>
        </div>
    </div>
</div>
<div class="section">
    <div class="banner orange">
        <div class="banner__box-txt shape-right">
            <div class="wrapper-icon">
                <h1 class="banner__box-txt__header">Adoption</h1>
                <img class="banner__box-txt__img" src="../assets/img/icon-paw.png" alt="">
            </div>
            <h2 class="banner__box-txt__header--small">We need help. so do they.</h2>
            <span class="banner__box-txt__txt">
                Adopt a pet and give it a home,
                it will be love you back unconditionally.
            </span>
            <button class="banner__box-txt__btn--dark">Explore Now</button>
        </div>
        <img class="banner__img" src="../assets/img/dogs-paw.png" alt="">
    </div>
</div>
<div class="section sellers">
    <div class="section__sellers-txt">
        <span class="section__sellers-txt__txt--small">Proud to be part of</span>
        <span class="section__sellers-txt__txt--big">Pet Sellers</span>
    </div>
    <div class="section__sellers">
        <img class="section__sellers__img" src="../assets/img/logo-sheba.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-whiskas.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-bakers.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-felix.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-goodboy.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-butchers.png" alt="">
        <img class="section__sellers__img" src="../assets/img/logo-pedigree.png" alt="">
    </div>
</div>
